<div class="col-lg-6">
  <%= form_for(@video) do |f| %>
    <% if @video.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

        <ul>
          <% @video.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div>
      <%= f.label :producer %>
      <%= f.select 'producer_id',
                   options_from_collection_for_select(@producers, 'id', 'full_name', selected: @producer ), {}, { class: 'form-control' }
      %>
    </div>
    <%= f.label :actors %>
    <% @actors.each do |actor| %>
      <div class="input-group">
        <span class="input-group-addon">
          <%= check_box_tag 'actors[]', actor.id, @video.actors.include?(actor) %>
        </span>
        <%= f.label actor, actor.full_name, class: 'form-control' %>
      </div>
    <% end %>
    <br>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>